
html{
	overflow:hidden;
	background: #efeff5;
	height: 100%;
	margin: 0;
}

html,body{
	height:100%;
	padding: 0;
	margin: 0;
}

body{
	display:block;
}

.head{
	display: none;
}

h5{
	position: absolute;
	margin-top: -20px;
	margin-left: 430px;
	margin-right: 0px;
}

.wall{

	max-width: 1044px;
	height: 901px;
	min-height: 0px;
	margin: 36px auto 0 auto;

	border-style: solid;
	border-color: #b0b0cf;
	border-width: 0 8px 0 8px;
	background: #cce6ff;
}

.headOfWall{
	position: relative;

	background: #b0b0cf;
	display: block;

	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	height: 46px;
}

.headContent{
	width: 100%;
	text-align: left;
	white-space:  nowrap;
	padding-left: 40px;
	box-sizing: border-box;
  line-height: 46px;
}

.newGame{
	display: inline-block;
	min-width: 340px;
}

.newGame button:not([disabled]){
	cursor: pointer;
}

.createNewGame{
	min-width: 140px;
	box-sizing: border-box;

	font: inherit;
	line-height: 1.4;
	color: inherit;
	margin: 0;
	border:solid 1px rgba(0,0,0,0.4);
	border-radius: 4px;
	outline: none;
	display: inline-block;
	background-color: #ffffff;
}

.gameMode{
	margin-right: 1em;
	position: relative;
	display: inline-block;
	line-height: normal;
}

.tables{
	/*position: relative;*/
	width: 100%;
	height: 855px;
}

.selectGameDiv{
	width: 70%;
	height: 100%;
	float: left;
}

.playersOnline{
	width: 30%;
	height: 100%;
	float: right;
}

.playersTable{
	width: 100%;
	height: 95%;
	background-color: #ffffff;
}

.selectGame{
	width: 100%;
	height: 95%;
}

.table{
	border: 0;
	text-align: center;
	width: 100%;
	background-color: #ffffff;
}
/*.select:before{
	cursor: pointer;
}
